*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  align-items: center;
  justify-content: center;
  
}

header{
  background: gray;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
}

.logo img{
  width: 250px;
  
}
ul{
  display: flex;
  list-style: none;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
}
ul li{
  padding: 25px;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}
ul li a::after{
  content:'';
  display: block;
  height: 4px;
  width: 0;
  background: #3a3a3a;
  transition:all .5s;
  cursor: pointer;
}
ul li a:hover::after{
  width: 100%;
}
/*--main--*/
main{
  height:80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background: whitesmoke;


}
.left{
  width: 30%;
  border: 1px solid black;
  
}

.hero-img{
  height: auto;
  max-width: 800px;
  
}
main h1{
  font-size: 58px;
  color: #133B4F;
}
main h2{
  font-size: 30px;
  color:#FCA70C;
}